:root {
    --blue-dark: #003869;
    --blue-light: #52a9f0;
    --higlight: #fbd200;
    --bg-light: #ffffff;
}

body {
	background: var (--bg-light, #ffffff);
	display: grid;
	grid-gap: 10px;
	grid-template-areas:
		"title title"
		". ."
		". ."
		"radioBu radioBu"
		". ."
		"noteLength textareaLength"
		". ."
		"notePassw notePassw"
		"textareaPassw textareaPassw"
		"passwordReq passwordReq";
		
	grid-auto-columns: 50%;	
	font-family: Arial, sans-serif;
}

#title {
	grid-area: title;
	justify-self: center;
	font-size: 2.6vw;
	text-align: center;
}

#radioBu {
	grid-area: radioBu;
	justify-self: center;
	font-size: 1.5vw;
}

#noteLength {
	grid-area: noteLength;
	font-size: 1.5vw;
	justify-self: end;
}

#textareaLength {
	grid-area: textareaLength;
	display: flex:
	flex-direction: column;
	width: 15%;
	height: 70%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 1.5vw;
	resize: none;
	text-align: center;
	justify-self: left;
}

#notePassw {
	grid-area: notePassw;
	font-size: 1.5vw;
	justify-self: center;
}

#textareaPassw {
	grid-area: textareaPassw;
	display: flex;
	flex-direction: column;
	width: 70%;
	padding: 10px 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	font-size: 1.5vw;
	text-align: center;
	resize: none;
	justify-self: center;
}

#passwordReq{
	grid-area: passwordReq;
	padding: 16px 32px;
	cursor: pointer;
	margin: 4px 2px;
	width: 30%;
	justify-self: center;
}

