body {
	background: url('kiwis.png');
	font-size: 1.5vw;
	align-content: center;
}

#container {
	width: 35%;
	min-width: 350px;
	background: #ffffff;
	margin: auto;
	padding: 1vw;
	border-radius: 10px;
	display: grid;
	grid-gap: 5px;
	grid-template-areas:
		"title title"
		"caption caption"
		"radioBu radioBu"
		"noteLength textareaLength"
		"notePassw notePassw"
		"textareaPassw textareaPassw"
		"passwordQui passwordQui"
		"passwordReq passwordReq";
	grid-auto-columns: 50%;
}

#title {
	grid-area: title;
	font-family: Arial, sans-serif;
	justify-self: center;
	font-size: 2.6vw;
	text-align: center;
}

#caption {
	grid-area: caption;
	font-family: Arial, sans-serif;
	justify-self: center;
	text-align: center;
}

#radioBu {
	grid-area: radioBu;
	justify-self: center;
	padding: 3vw;
}

#noteLength {
	grid-area: noteLength;
	padding: 1vw;
	justify-self: end;
}

#textareaLength {
	grid-area: textareaLength;
	display: flex:
	flex-direction: column;
	width: 30%;
	height: 70%;
	padding: 1vw;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	resize: none;
	text-align: center;
	justify-self: start;
}

#notePassw {
	grid-area: notePassw;
	padding: 1vw;
	justify-self: center;
}

#textareaPassw {
	grid-area: textareaPassw;
	display: flex;
	flex-direction: column;
	width: 70%;
	max-width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 4px;
	background-color: #f8f8f8;
	text-align: center;
	justify-self: center;
}

#passwordQui{
	grid-area: passwordQui;
	padding: 16px 32px;
	cursor: pointer;
	margin: 4px 2px;
	width: 60%;
	min-width: 200px;
	justify-self: center;
}

#passwordReq{
	grid-area: passwordReq;
	padding: 16px 32px;
	cursor: pointer;
	margin: 4px 2px;
	width: 60%;
	min-width: 200px;
	justify-self: center;
}

#selectPattern {
	width: 15%;
	position: fixed;
	bottom: 5px;
	left: 5px;
	padding: 5px;
}

#copyright {
	position: fixed;
	bottom: 0px;
	right: 0px;
	padding: 5px;
}

@media only screen and (max-width: 750px) {
	body {
		font-size: 11px;
	}
	#title {
		font-size: 18px;
	}
}